<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">


<div th:replace="~{common/header :: homeHeader}"></div>


<body class="d-flex flex-column min-vh-100">
<!--/*@thymeleaf id="appointment" type="com.stefanpetkov.medical.commands.AppointmentCommand"*/-->
<div th:replace="~{common/header :: homeNavbar}"></div>

<div sec:authorize="isAuthenticated()">

    <div class="row">
        <div class="display-6 -bold text-center text-warning bg-secondary">
            <label><strong> Appointment Form </strong></label>
        </div>
    </div>
    </br></br>

    <div class="container">

        <div class="col-md-12 border-1 border-dark ">
            <form class="card" th:action="@{/searchDoctorWorkingDays}" method="get">
                <div class="card-header form-control text-center">
                    <h3><b> &nbsp;Search for Doctor's working days: </b></h3></br>
                </div>
                <div class="card-body">
                    <h3 for="keyword"><strong>Find by First name or Speciality : </strong></h3>
                    <input class="col-md-12 border border-1 border-dark " type="text" name="keyword"
                           id="keyword"
                           th:value="${keyword}"
                           placeholder="Find by FirstName or Speciality">

                    <h3 for="datetime"><strong>Select date : </strong></h3>
                    <input class="w-100 p-3 card-body" type="date" name="date"
                           data-date-format="DD-MM-YYYY HH:mm"
                           id="datetime" placeholder="Select time:"
                           th:value="${date}"
                           required/>
                    <div>
                        </br>
                    </div>
                    <div class="form-group mb-3 justify-content-center">
                    <button type="submit" class="btn btn-info form-control"><b>Search</b></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </br>
    </br>


    <div class="row">

        <div class="col-md-12 border-1 border-dark">
            <div class="display-6 -bold text-center text-warning bg-secondary">
                <label><strong> Appointments </strong></label>
            </div>
            <table class="table table-striped table-bordered table-hover border-dark">
                <thead class="table-dark text-center">
                <th>#</th>
                <th>ЕИК</th>
                <th>Doctor's FullName</th>
                <th>Speciality</th>
                <th>Working_Day</th>
                <th>Hours</th>
                <th>Save</th>
                <!--                <th>Save</th>-->
                <!--                <th>Delete</th>-->
                </thead>
                <tbody class="border border-3 border-dark text-center" th:each="doctor, doctorNumber : ${doctors}">
                <td th:text="*{doctorNumber.count}">No</td>
                <td th:text="*{doctor.getDoctor().uniqueId}">ЕИК</td>
                <td th:text="d-r + ' ' + *{doctor.getDoctor().firstName} + ' ' + *{doctor.getDoctor().lastName}">
                    FullName
                </td>
                <td th:text="*{doctor.getDoctor().specialty}"></td>
                <td th:text="*{doctor.workingDay}">working_day</td>
                <td th:text="*{doctor.examHours}">hours</td>

                <td class="col-1 mt-5">
                    <a class="btn btn-outline-success"
                       th:href="@{/saveAppointmentForm(id=*{doctor.workingDayId})}" id="btn_save_1"
                       type="submit"><b>Save</b></a>
                </td>
                <!--                <td class="text-center">-->
                <!--                    <button class="btn btn-outline-success btn-lg" id="btn_save" type="submit"><b>Save</b></button>-->
                <!--                </td>-->
                <!--                <td class="col-1 mt-5">-->
                <!--                    <a class="btn btn-outline-success"-->
                <!--                       th:href="@{/deleteAppointment(appointment_id=*{appointment.appointmentId})}" id="btn_delete"-->
                <!--                       type="submit"><b>Delete</b></a>-->
                <!--                </td>-->
                </tbody>
            </table>
            </br>
            </br>
            </br>
            </br>
        </div>
    </div>
</div>

</br>
</br>
</br>
</br>
<!-- footer starts here -->
<div th:insert="~{common/footer :: footer}"></div>


<script>

    // Below code sets format to the
    // datetimepicker having id as
    // datetime
    // $('#datetime').datetimepicker({
    //     format: 'DD-MM-YYYY HH:mm:ss'
    // });
</script>

</body>
</html>