<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{common/header :: homeHeader}"></div>


<body class="d-flex flex-column min-vh-100">
<!--/*@thymeleaf id="appointment" type="com.stefanpetkov.medical.domain.DoctorWorkingDay"*/-->
<div th:replace="~{common/header :: homeNavbar}"></div>
<label class="form-label display-6 -bold text-center text-warning bg-secondary">
    <strong> Save Appointment Form </strong></label>

<div class="container">
    <form class="border border-dark border-2  padding-bottom pb-3 mb-5 ml-5 mr-5 offset-md-1" style="width: 80%;"
          th:object="${appointment}"
          th:action="@{/saveAppointment}" method="post">

        <div class="container">
            <!--                <div class="col">-->
            <!--        &lt;!&ndash;            <label class="form-label"><b> &nbsp;&nbsp; Appointment ID:</b></label>&ndash;&gt;-->
            <!--                    <input  class="form-control" placeholder="Appointment ID:" th:field="*{workingDayId}"/>-->
            <!--                </div>-->





            <div class="form-group mb-3">
                <label class="form-label"><b> &nbsp Doctor First Name:</b></label>
                <input type="text" class="form-control" th:field="*{doctor.firstName}"/>
            </div>

            <div class="form-group mb-3">
                <label class="form-label"><b> &nbsp; Doctor Last Name:</b></label>
                <input type="text" class="form-control" placeholder="Last name" th:field="*{doctor.lastName}"/>
            </div>
            <div class="form-group mb-3">
                <label class="form-label"><b> &nbsp; Working day:</b></label>
                <input type="text" class="form-control" placeholder="Working day" th:field="*{workingDay}"/>
            </div>
            <div class="form-group mb-3">
                <label class="form-label"><b> &nbsp; Hour :</b></label>
                <input type="text" class="form-control" placeholder="Hour" th:field="*{examHours}"/>
            </div>

            <div class="form-group mb-3">
<!--                <label class="form-label"><b> &nbsp;&nbsp; Doctor ID:</b></label>-->
                <input type="hidden" class="form-control" placeholder="Doctor ID:" th:field="*{doctor.id}"/>
            </div>

            <div class="form-group mb-3">
                <button class="btn btn-outline-success form-control" id="btn_save" type="submit"><b>Save</b></button>
            </div>

            <div class="form-group mb-3">
                <!--            <label class="form-label"><b> &nbsp;&nbsp; Appointment ID:</b></label>-->
                <input type="hidden" class="form-control" placeholder="Appointment ID:" th:field="*{workingDayId}"/>
            </div>

        </div>
    </form>
</div>

<!-- footer starts here -->
<div th:insert="~{common/footer :: footer}"></div>


<script>

    // Below code sets format to the
    // datetimepicker having id as
    // datetime
    // $('#datetime').datetimepicker({
    //     format: 'DD-MM-YYYY HH:mm:ss'
    // });
</script>

</body>
</html>